.fila_informacion:hover
{
	background: #F2F2F2;	
}

.titulo_informacion
{
	border-bottom: 1px solid #E4E4E4;
    font-weight: bold;
    padding: 10px 40px 1px 10px;
}

.contenido_informacion
{
	border-bottom: 1px solid #E4E4E4;
    color: #8E8E8E;
    font-size: 10px;
    font-weight: bold;
    padding: 10px;
}
